@model CinemaMasters.Models.Vorstellung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vorstellung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zeit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kinosaal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kinosaal.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
