@model CinemaMasters.Models.Reservierung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservierung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kinobesucher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kinobesucher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorstellung.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorstellung.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
