@model IEnumerable<CinemaMasters.Models.Vorstellung>

@{
    ViewBag.Title = "Home Page";
}

<div class="head">
    <img src="@Url.Content("~/Content/banner.png")" class="img-responsive"/>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Film)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Film.Altersfreigabe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zeit)
                </th>
                <th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Altersfreigabe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zeit)
                    </td>
                    <td>
                        <a class="vorstellungBtn" id="@item.Id">@Html.FontAwesome(FontAwesomeIconSet.ArrowRight)</a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6 reservation">

    </div>

    <script type="text/javascript">
        $('.vorstellungBtn').click(function (vorstellung) {
            console.log(vorstellung);
            alert(vorstellung);
        });
    </script>
</div>