@model IEnumerable<CinemaMasters.Models.Vorstellung>

@{
    ViewBag.Title = "Home Page";
}

<div class="head">
    <img src="@Url.Content("~/Content/banner.png")" class="img-responsive"/>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Film)
                </th>
                <th class="col-md-3">
                    Kinosaal
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Film.Altersfreigabe)
                </th>
                <th class="col-md-4">
                    @Html.DisplayNameFor(model => model.Zeit)
                </th>
                <th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kinosaal.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Altersfreigabe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zeit)
                    </td>
                    <td class="text-right">
                        <a href="@Url.Action("Create", "Reservations", new { id=item.Id })">@Html.FontAwesome(FontAwesomeIconSet.ArrowRight)</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>