@model IEnumerable<CinemaMasters.Models.Vorstellung>

@{
    ViewBag.Title = "Home Page";
}

<div class="head">
    <img src="@Url.Content("~/Content/banner.png")" />
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Film)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Film.Altersfreigabe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zeit)
                </th>
                <th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Film.Altersfreigabe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zeit)
                    </td>
                    <td>
                        <a href="@Url.Action("Place", "Home")"><i class="fa fa-arrow-right"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">

    </div>
</div>